# Python
__pycache__/
*.pyc

# Virtualenv
.venv/

# Node
node_modules/
client/node_modules/
client/.parcel-cache/

# SQLite DB
db.sqlite3

# Django static/media (if generated locally)
staticfiles/
media/
